<div class="login p-2">
  <img class="brand-logo" alt="Nuuvem" title="Nuuvem" src="//assets.nuuvem.com/assets/fe/images/nuuvem_logo-ab61ec645af3a6db7df0140d4792f31a.svg">
  <h2 class="title">Nuuvem Management System</h2>
</div>
<div class="container mt-5">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "btn btn-secondary mt-3" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
